<div class="row">
    <h1 class="col"><span *ngIf='id==null;else idNonNull'> Ajouter un contact</span><ng-template #idNonNull><span>Modifier un contact</span></ng-template></h1>
</div>
<form>
    <div class="row">
        <input class="form-control col" type="text" placeholder="Votre Nom : " name="nom" [(ngModel)]="nom" />
    </div>
    <div class="row">
        <input class="form-control col" type="text" placeholder="Votre Prénom : " name="prenom" [(ngModel)]="prenom" />
    </div>
    <div class="row">
        <input class="form-control col" type="text" placeholder="Votre Email : " name="email" [(ngModel)]="email" />
    </div>
    <div class="row">
        <button class="col btn btn-danger" (click)="Add()"><span *ngIf='id==null;else BidNonNull'> Ajouter</span><ng-template #BidNonNull><span>Modifier</span></ng-template></button>
    </div>
</form>